nav {
    height: 70;
    width: 90%;
    /* background-color: royalblue; */
}

ul {
    display: flex;
    text-decoration: none;
    justify-content: end;
    gap: 2rem;
    padding: 1rem 3rem;
    margin: 0 3rem;
    justify-content: space-between;
    
}

li {
    text-decoration: none;
}

.start {
    display: flex;
    justify-content: start;
}

.flexRow {
    display: flex;
    background-color: lightblue;
}

.flexend {
    justify-content: end;
}